%location-index {
	position: relative;
	transform: translate(0); // new z-index layer
	display: inline-block;
	min-width: 2em;
	text-align: center;
	padding: map_get($spacers, 1);
	&:before {
		@include size(25px, 25px);
		@include absolute-full-size;
		z-index: -1;
		content: '';
		display: block;
		transform: skewX(-10deg);
	}
}
