$primary: #9AA966;
$primary-dark: #4C5948;
$primary-light: #E4E4C9;
$secondary:#C3AF9D;

$theme-colors: (
	"primary-light": $primary-light,
	"primary-dark": $primary-dark,
);
$font-family-base: 'Noto Serif TC', serif;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$headings-font-weight: 600;

$header-height: 50px;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$box-shadow-sm: 0 4px 24px rgba(0, 0, 0, 0.16);

@import "~bootstrap/scss/variables";
