.carousel {
	position: relative;
	&__list {
		@include size(100%);
		@include hide-scrollbar;
		@include scroll-snap-horizontal;
		background-color: $gray-300;
	}
	&__item	{
		@include background-image-cover;
		@include old-style(0.1);
	}
	&__indicator {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		margin: 10px 0;
		padding: 0 15px;
	}
	&__indicator-dot {
		border-radius: 2px;
		width: 25px;
		height: 2px;
		background-color: rgba(255, 255, 255, 0.4);
		margin: 0 4px;
		transition: background-color .2s;
		&--active {
			background-color: rgba(255, 255, 255, 1);
		}
	}
}
