.fab-button {
	@include size(60px);
	@include center-content;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	box-shadow: $box-shadow-sm;
	z-index: 100;
	animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: .5s;
	animation-iteration-count: 1;
	img {
		width: 30px;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
