.route-map {
	@include size(100%, 80vh);
	background-color: $gray-300;

	.leaflet-popup-content-wrapper {
		border-radius: 0;
		padding: 0;
		box-shadow: $box-shadow-sm;
	}

	.leaflet-popup-content {
		margin: 0;
	}
}
