.route-map {
	@include size(100%, 80vh);
	position: relative;
	background-color: $gray-300;

	&__back-btn, &__navigate-btn {
		position: absolute;
		box-shadow: $box-shadow-sm;
		z-index: 1000;
		border-radius: 999px;
	}
	&__back-btn {
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__navigate-btn {
		bottom: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 20px;
		}
		&--loading img {
			animation-name: rotate;
			animation-iteration-count: infinite;
			animation-duration: .8s;
			animation-timing-function: linear;
		}
	}

	.leaflet-popup-content-wrapper {
		border-radius: 0;
		padding: 0;
		box-shadow: $box-shadow-sm;
	}

	.leaflet-popup-content {
		margin: 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg) scale(0.6);
	}
	100% {
		transform: rotate(360deg);
	}
}
