.start-cta {
	cursor: pointer;
	color: #FFF;
	font-size: $font-size-lg;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	&__arrow {
		animation-name: arrow;
		animation-iteration-count: infinite;
		animation-duration: 1.5s;
	}
}

@keyframes arrow {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}
